body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  padding: 16px;
  border-style: solid;
  border-color: #fff;
  border-width: 7px;
}

.content {
  background: #e3f4ff;
  padding: 8px;
  margin-top: -30px;
  border-style: solid;
  border-color: #fff;
  border-width: 7px;
}



.button-container {
  background: #e3f4ff;
  border-style: solid;
  border-color: #fff;
  border-width: 7px;
  padding: 10px;
  margin-top: -9px;
  text-align: center;
  font-weight: 700;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: auto;
  padding: 8px 24px;

}